* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

:root {
  --primary-color: #FFB400;
  --secondary-color: #FFB400F2;
  --accent-color: #2B2B2B;
  --bg-color: #F0F0F6;
  --font: "Inter", sans-serif;
}

body{
  background-color: var(--bg-color);
}

.content {
  display: grid;
  grid-template-columns: 20% 80% 10%;
  background-color: white;
}

.middle-sec {
  text-align: center;
}

.section {
display: flex;
flex-direction: column;
gap: 20px;
background-color: white;
}

.sec-one{
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
align-items: center;
}

.sec-two {
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
align-items: center;
}

.head {
  display: flex;
  background-color: white;
}

.A {
  align-content: space-between;
}

.B {
  img {
    width: 60%;
    height: auto;
  }
}
